
<ion-view title="Buscar">
<script>
function PostsCtrlAjax($scope, $http)
{
$http({method: 'POST', url: 'http://api.openweathermap.org/data/2.5/weather?q='}).success(function(data)
{
$scope.posts = data; // response data 
});
}
</script>
  <ion-content padding="true">
    <label class="item item-input">
    <i class="icon ion-search placeholder-icon"></i>
    <input type="text" placeholder="Buscar vuelos">
  </label>
  </ion-content>
</ion-view>
