<!-- <ion-nav-view> -->
<ion-view title="Buscar charters" >
	<ion-content>


		<div class="item">

		<!-- 	
		<div ng-click="listaSalidas()" ng-controller="LocacionCtrl" class="button icon ion-android-arrow-up-right" style="width:49%; height:90px!important;">
			<label placeholder="Salida">
				<span ng-show="{{!salida}}">Salida<br/></span>
				<span ng-show="{{salida}}">{{salida.iata}}
					<h6 ng-show="{{salida}}">{{salida.nombre}}</h6>
					<h6 ng-show="{{salida}}">{{salida.pais}}</h6>
				</span>
			</label>
		</div>
		<div ng-click="listaDestinos()" ng-controller="LocacionCtrl" class="button icon ion-android-arrow-down-right" style="width:49%;height:90px!important;fleoat:right">
			<label placeholder="Destino">
				<span ng-show="{{!destino}}">Destino<br/></span>
				<span ng-show="{{destino}}">{{destino.iata}}
					<h6 ng-show="{{destino}}">{{destino.nombre}}</h6>
					<h6 ng-show="{{destino}}">{{destino.pais}}</h6>
				</span>
			</label>
		</div>
		<br/>
		<div>
			<a ng-disabled="!salida || !destino" ng-click="openDatePicker()" class="button button-block">
				<i class="icon ion-android-calendar" style="display:inline">
					<span ng-show="!vuelo.fechaVuelo">Fecha y hora</span>
					<span ng-show="vuelo.fechaVuelo">{{vuelo.fechaVuelo | date: "dd/MM/yyyy '/' h:mma"}}</span>
				</i>
			</a>
		</div>
		
		<div>
		
				<select ng-disabled="!vuelo.fechaVuelo" ng-model="vuelo.pax" ng-value="asiento.num" style="width:100%!important" class='button button-block'>
						<option ng-repeat="asiento in asientos">
							<span>{{asiento.num}} {{asiento.car}}</span>
						</option>
				</select>
		</div>
<<<<<<< HEAD
				
		<div>
=======
		<ion-list ng-show="legs.size>0">
			<div ng-repeat="leg in legs">
				Hola
			</div>
		</ion-list>
		
		<div >
>>>>>>> parent of 1941cd1...  Changes to be committed:
			<a ng-disabled="!vuelo.pax"  href="" class="button button-div ion-reply">
				Regreso
			</a>
			<a ng-disabled="!vuelo.pax"  ng-click="legs.push({})"  class="button button-div ion-plus">Agregar Escala</a>
			<a ng-disabled="!vuelo.pax && !legs.size>=2" href=""  class="button button-div ion-close"></a>
		</div>
		<br/> -->

		<ion-list ng-show="!legs.size>0">
			<div ng-repeat="leg in legs">
				<div>
				<div ng-click="listaSalidas()" ng-controller="LocacionCtrl" class="button icon ion-android-arrow-up-right" style="width:49%; height:90px!important;">
				<label placeholder="Salida">
					<span ng-show="{{!leg.salida}}">Salida<br/></span>
					<span ng-show="{{leg.salida}}">{{leg.salida.iata}}
						<h6 ng-show="{{leg.salida}}">{{leg.salida.nombre}}</h6>
						<h6 ng-show="{{leg.salida}}">{{leg.salida.pais}}</h6>
					</span>
				</label>
				</div>
				<div ng-click="listaDestinos()" ng-controller="LocacionCtrl" class="button icon ion-android-arrow-down-right" style="width:49%;height:90px!important;float:right">
				<label placeholder="Destino">
					<span ng-show="{{!leg.destino}}">Destino<br/></span>
					<span ng-show="{{leg.destino}}">{{leg.destino.iata}}
						<h6 ng-show="{{leg.destino}}">{{leg.destino.nombre}}</h6>
						<h6 ng-show="{{leg.destino}}">{{leg.destino.pais}}</h6>
					</span>
				</label>
			</div>
			<br/>
			<div>
				<a ng-disabled="!leg.salida || !leg.destino" ng-click="openDatePicker()" class="button button-block">
					<i class="icon ion-android-calendar" style="display:inline">
						<span ng-show="!leg.fechaVuelo">Fecha y hora</span>
						<span ng-show="leg.fechaVuelo">{{leg.fechaVuelo | date: "dd/MM/yyyy '/' h:mma"}}</span>
					</i>
				</a>
			</div>
			<div>
				<select ng-disabled="!vuelo.fechaVuelo" ng-model="vuelo.pax" ng-options="asiento.num + ' ' + asiento.car for asiento in asientos" style="width:100%!important" class='button button-block'>
						
				</select>
			</div>
			<div>
				<a ng-disabled="!leg.pax"  ng-click="addRetorno(leg)" class="button button-div ion-reply">
					Regreso
				</a>
				<a ng-disabled="!leg.pax"  ng-click="addLeg(leg)"  class="button button-div ion-plus">Agregar Escala</a>
				<a ng-disabled="!leg.pax && !legs.size>=2" href=""  class="button button-div ion-close"></a>
			</div>
			</div>
			<br/>
		
			</div>
		</ion-list>
		</div>
		{{legs}}

		{{legs.size>0}}
		<a ng-disabled="!vuelo.pax" href="#/tab/menu/0/listaDisponibles" class="button button-block ">
				Buscar
			</a>
		<!-- <div class="bar bar-footer">
			<a ng-disabled="!vuelo.pax" href="#/tab/menu/0/listaDisponibles" class="button button-block ">
=======
		<div >
			<a ng-disabled="!vuelo.pax" href="#/tab/menu/0/listaDisponibles" class="button button-block">
>>>>>>> parent of 1941cd1...  Changes to be committed:
				Buscar
			</a>
		</div> -->

	</ion-content>
</ion-view>
