<ion-view title="Confirmar tarjeta de crédito">
	<ion-content>
		<div class="list">
		  <label class="item item-input item-stacked-label">
		    <span class="input-label">Mes vencimiento</span>
		    <input type="number" ng-model="tarjeta.mes" placeholder="Mes vencimiento">
		  </label>
		  <label class="item item-input item-stacked-label">
		    <span class="input-label">Año Vencimiento</span>
		    <input type="number" ng-model="tarjeta.year" placeholder="Año Vencimiento">
		  </label>
		  <label class="item item-input item-stacked-label">
		    <span class="input-label">CVV</span>
		    <input type="password" ng-model="tarjeta.cvv" placeholder="CVV">
		  </label>
		  <div class="item">
		  	<button class="button button-block" ng-click='abrirConfirmacion()'>Enviar confirmación</button>
		  </div>
		</div>
	</ion-content>
</ion-view>