
<ion-view title="Acceder">
  <ion-content has-tabs="true">
    <div class="list list-inset">
      <label class="item item-input">
        <span class="input-label">Email</span>
        <input type="email">
      </label>
      <label class="item item-input">
        <span class="input-label">Contraseña</span>
        <input type="password">
      </label>
      <button class="button button-positive button-block">Ingresar</button>
    </div>
  </ion-content>
</ion-view>
