<ion-view title='Mis configuraciones'>
	<ion-content>
		<!-- <p>Usuario: </p> -->
		<label class=" item-input item-stacked-label">
			<span class="input-label">Nombre:</span>
			<label>{{item.firstName}}</label></label>
		<label class=" item-input item-stacked-label">
			<span class="input-label">Apellido:</span>
			<label>{{item.lastName}}</label></label>
		<label class=" item-input item-stacked-label">
			<span class="input-label">Telefono:</span>
			<label>{{item.phone}}</label></label>
		<label class=" item-input item-stacked-label">
			<span class="input-label">Correo electronico:</span>
			<label>{{item.email}}</label></label>
		<label class=" item-input item-stacked-label">
			<span class="input-label">Membresia:</span>
			<label ng-show="item.membership">Si</label>
			<label ng-show="!item.membership">No</label></label>
		<a class="button button-block" href="#/tab/editarPerfil">Editar mis datos</a>
		<a class="button button-block">Cambiar contrasena</a>
		<a class="button button-block">Locaciones frecuentes</a>
		<a class="button button-block">Salir</a>

	</ion-content>

</ion-view>
