<ion-view title="Editar datos personales">
	<ion-content>
		<div class="list">
			<label class="item item-input item-stacked-label">
			    <span class="input-label">Nombre</span>
			    <input type="text" placeholder="John" ng-model="item.firstName" ng-value="{{item.firstName}}" >
		  	</label>
		  	<label class="item item-input item-stacked-label">
			    <span class="input-label">Apellido</span>
			    <input type="text" placeholder="Suhr" ng-model="item.lastName" ng-value="{{item.lastName}}">
		  	</label>
		  	<label class="item item-input item-stacked-label">
			    <span class="input-label">Telefono</span>
			    <input type="text" placeholder="" ng-model="item.phone" ng-value="{{item.phone}}">
		  	</label>
		  	<label class="item item-input item-stacked-label">
			    <span class="input-label">Correo electronico</span>
			    <input type="text"  placeholder="usuario@direccion.com" ng-model="item.email" ng-value="{{item.email}}">
		  	</label>
		  	<a class="button button-block"  href="#/tab/menu/2" >Guardar</a>
		  	<a class="button button-block" ng-click="guardarDatosUsuario()"  href="#/tab/menu/2" >Guardar y push</a>
		</div>
	</ion-content>
</ion-view>