<ion-view title='Escalas vacias'>
	<ion-content>
		<ion-list>
		<ion-item ng-repeat="item in vuelos">

			<div class='list card'>
				<div class='item '>
					<h4>{{item.salida.ciudad}} {{item.salida.codigoPais}} - {{item.destino.ciudad}} {{item.destino.codigoPais}}</h4>
					<h4>{{item.fechaVuelo.iso | date: "dd/MM/yyyy '/' h:mma"}}</h4>
				</div>
				
				<div class="item item-image">
				    <img src="{{item.avion.img}}">
				</div>
				<div class="item">
					<h5>{{item.avion.marca}} {{item.avion.modelo}}</h5>
					<div class="inline">
						<h5><b>Precio normal</b></h5>
						<p><b>${{item.precioNormal}}</b></p>

					</div>
					<div class="inline col-offset-33">
						<h5><b>Precio miembro</b></h5>
						<p><b>${{item.precioMiembro}}</b></p>
					</div>
				</div>
				<a href="#/tab/menu/1/reservaEscala/{{item.objectId}}" 
				ng-model="vuelo" ng-value='{{item}}' class="button button-block">
					Reservar >
				</a>
				
			</div>
		</ion-item>
		</ion-list>
	</ion-content>
</ion-view>