<ion-view title="Factura Charter">
	<ion-content ng-controller="CharterCtrl">
	<div >
		<h5 style="text-align=justify">Para solicitar este avión se requiere una autorización totalmente reembolsable del 10% con su tarjeta de crédito.<br/><br/>

Usted puede cancelar su solicitud en cualquier momento antes de la confirmación de la factura, ya que este no es un trato con la flota Jets y la disponibilidad de las aeronaves deben ser confirmadas.</h5>
</div>


	<div class="item">
		<h4 class="" >Tarifa de vuelo</h5>
		<label style="font-weight:bold;">Precio: </label>
		<label style="float:right">$ {{avion.maxVel+(avion.maxVel-500)}}</label><br/>
		<label style="font-weight:bold;">Cantidad: </label>
		<label style="float:right">{{vueloBusqueda.pasajeros}}</label>
		<hr/>
		<label style="font-weight:bold;">Subtotal: </label>
		<label ng-model='total' style="float:right">$ {{(avion.maxVel+(avion.maxVel-500))*vueloBusqueda.pasajeros}}</label><br/>
		<label style="font-weight:bold;">I.V.A: </label>
		<label style="float:right">15 %</label>
		<hr/>
		<label style="font-weight:bold;">Total: </label>
			<label style="float:right" >$ {{((avion.maxVel+(avion.maxVel-500))*vueloBusqueda.pasajeros)*1.15}}</label>
		
	</div>
	<div class="item">
		<a class="button button-block" href="#/tab/menu/0/listaDisponibles/{{avion.id-1}}/confirmar">Solicitar vuelo</a>
	</div>
	
	</ion-content>

</ion-view>