<ion-view title="Factura">
	<ion-content>
	<div >
		<h5 style="text-align=justify">Para solicitar este avión se requiere una autorización totalmente reembolsable del 10% con su tarjeta de crédito.<br/><br/>

		Usted puede cancelar su solicitud en cualquier momento antes de la confirmación de la factura, ya que este no es un trato con la flota Jets y la disponibilidad de las aeronaves deben ser confirmadas.</h5>
	</div>


	<div class="item">
		<h4 class="" >Tarifa de vuelo</h5>
		<label style="font-weight:bold;">Precio: </label>
		<label ng-show='!usuario.membership' style="float:right">$ {{reserva.tarifa}}</label>
		<label ng-show='usuario.membership' style="float:right">$ {{reserva.tarifa}}</label><br/>
		<label style="font-weight:bold;">Cantidad: </label>
		<label style="float:right">{{reserva.pax}}</label>
		<hr/>
		<label style="font-weight:bold;">Subtotal: </label>
		<label ng-model='total' style="float:right">$ {{reserva.subTotal}}</label><br/>
		<label style="font-weight:bold;">I.V.A: </label>
		<label style="float:right">15 %</label>
		<hr/>
		<label style="font-weight:bold;">Total: </label>
			<label style="float:right" >$ {{reserva.total}}</label>
		
	</div>
	<div class="item">
		<a class="button button-block" href="#/tab/menu/1/reservaEscala/{{vuelo.objectId}}/confirmar">Solicitar vuelo</a>
	</div>
	</ion-content>

</ion-view>