<ion-view title="Menú">
  <ion-content >

  	<!-- <div class="list card"> -->
  		<a class="item inline button button-front" href="#/tab/menu/{{getMenu(0).id}}">
  			<i class="icon {{getMenu(0).icono}}"></i>
        	<h4>{{getMenu(0).titulo}}</h4>
        </a>
	  	<a class="item inline button button-front" href="#/tab/menu/{{getMenu(1).id}}">
	  		<i class="icon {{getMenu(1).icono}}"></i>
        	<h4>{{getMenu(1).titulo}}</h4>
	  	</a>
	  	<a class="item inline button button-front" href="#/tab/menu/{{getMenu(2).id}}">
	  		<i class="icon {{getMenu(2).icono}}"></i>
        	<h4>{{getMenu(2).titulo}}</h4>
	  	</a>
	  	<a class="item inline button button-front" href="#/tab/menu/{{getMenu(3).id}}">
	  		<i class="icon {{getMenu(3).icono}}"></i>
        	<h4>{{getMenu(3).titulo}}</h4>
	  	</a>
  	<!-- </div> -->
	

    <!-- <ion-list>
      <ion-item ng-repeat="menu in menus" type="item-text-wrap" href="#/tab/menu/{{menu.id}}" >
        <i class="icon {{menu.icono}}"></i>
        <p>{{menu.titulo}}</p>
      </ion-item>
    </ion-list> -->

  </ion-content>
</ion-view>