<ion-view title="Seleccionar avión">
	<ion-content>
		<ion-list>
			<ion-item ng-repeat="lista in aviones" ng-show=" vueloBusqueda.pasajeros<=lista.maxPas">
				<div class="item">
					<label>{{lista.marca}}</label>
					<label>
						<h5>{{lista.modelo}}</h5>
					</label>
					<label>
						<h5>Tipo {{lista.tipo}}</h5>
					</label>
				</div>
				<div class="item item-image">
					<img src="{{lista.img}}"/>
				</div>
				<a class="button-block item button" href="#/tab/menu/0/listaDisponibles/{{lista.id-1}}">
					Desde ${{(lista.maxVel+(lista.maxVel-500))*vueloBusqueda.pasajeros}} >
				</a>
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>