<ion-view>
	<ion-content>
		<div>
			<div class="list list-inset">
			  <label class="item item-input">
			    <i class="icon ion-search placeholder-icon"></i>
			    <input type="text" ng-model="filtro" placeholder="Buscar">
			  </label>
			</div>
		</div>
		<div>
			<ion-list ng-show="filtro">
				<div class="list list-inset">
					<ion-item ng-click="navBackSalida(item)" ng-repeat="item in locaciones | filter:filtro" >
						<h4 ng-show="item.iata">{{item.nombre}}, {{item.iata}}</h4>
						<h4 ng-show="!item.iata">{{item.nombre}} {{item.iata}}</h4>
						<h4> {{item.ciudad}}, {{item.pais}}</h4>
					</ion-item>
				</div>
			</ion-list>
		</div>
		
	</ion-content>
</ion-view>