<ion-view title="Mensajes">
	<ion-content>
		<ion-list> 
			<ion-item ng-repeat='mensaje in mensajes' >
				<div class="card">
				  	<div class="item item-divider">
					    {{mensaje.remitente}}

					</div>
					<div class="item item-text-wrap">
						<p>{{mensaje.cuerpo}}</p>
					</div>
					<div class="button-bar">
						<a class="button" href="#/tab/nuevoMensaje">Responder</a>
						<a class="button">Llamar</a>
					</div>
				</div>
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>
