<ion-view title="Responder">

	<ion-content>
		<textarea class="msd-elastic" rows="2" id="textarea" ng-model="mensaje.cuerpo" style="width:100%">
		</textarea>
		<div class="button-bar">
			<button class="button" ng-click="nuevoMensaje()" href="#/tab/menu/3">Enviar</button>
			<a class="button" href="#/tab/menu/3">Cancelar</a>
		</div>
		{{mensajes}}
	</ion-content>
</ion-view>