<ion-view title="Solicitar vuelo">
	<ion-content >
		<div class='list card'>
				<div class='item' style="width:auto">
					<label class="item-input">
					<div class="input-label">
						Salida: {{vueloBusqueda.salida}}
					</div>
					</label>
					<label class="item-input">
					<div class="input-label">
						Destino: {{vueloBusqueda.destino}}
					</div>
					</label>
					<label class="item-input">
					<div class="input-label">
						Fecha: {{vueloBusqueda.fechaVuelo}} {{vueloBusqueda.hora}}
					</div>
					</label>
					
				</div>
				<div class="item">
					<label>{{avion.marca}}</label>
					<label>
						<h5>{{avion.modelo}}</h5>
					</label>
					<label>
						<h5>Tipo {{avion.tipo}}</h5>
					</label>
				</div>
				<div class="item item-image">

				    <img src="{{avion.img}}">
				</div>
				<div class="item">
					<h4>Incluye</h4>
					<h5 ng-repeat='item in avion.detalles'>{{item}}</h5>
				</div>
				<div class="item">
					
					<h5>Tiempo estimado de vuelo: {{(500/avion.maxVel)*60}} minutos</h5>
				</div>
								

					<a href="#/tab/menu/0/listaDisponibles/{{avion.id-1}}/factura" class="button button-block">
						Confirmar >
					</a>
				</div>

				
			</div>
	</ion-content>
</ion-view>