<ion-view title="Reservar Escala">
	<ion-content>
		<div class='list card'>
				<div class='item '>
					<h4>{{vuelo.salida.ciudad}} {{vuelo.salida.codigoPais}} - {{vuelo.destino.ciudad}} {{vuelo.destino.codigoPais}}</h4>
					<h4>{{vuelo.fechaVuelo.iso | date: "dd/MM/yyyy '/' h:mma"}}</h4>
				</div>

				<div class="item item-image">
				    <img src="{{vuelo.avion.img}}">
				</div>
				<div class="item">
					<div class="inline">
						<h5><b>Precio normal</b></h5>
						<p><b>${{vuelo.precioNormal}}</b></p>

					</div>
					<div class="inline col-offset-33">
						<h5><b>Precio miembro</b></h5>
						<p><b>${{vuelo.precioMiembro}}</b></p>
					</div>
				</div>
				<div class="item">
					<h4>{{vuelo.aeronave.marca}} {{vuelo.aeronave.modelo}}</h4>
					<h5>Hora: </h5>
					<h5>Tiempo estimado de vuelo: {{vuelo.tiempoEstimado}} minutos</h5>
				</div>
				<ion-item>
				<label class="item-input item-select">
					<div class="input-label">
				      Pasajeros: 
				    </div>
				<select ng-model="reserva.pax">
						<option ng-repeat="asiento in asientos | limitTo:vuelo.pax">{{asiento}}</option>
					</select> </label>
					</ion-item>
					<a href="#/tab/menu/1/reservaEscala/{{vuelo.objectId}}/factura" class="button button-block">
						Confirmar >
					</a>
				</div>	
			</div>
	</ion-content>
</ion-view>