
<!-- 
  Create tabs with an icon and label, using the tabs-positive style. 
  Each tab's child <ion-nav-view> directive will have its own 
  navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-default" ng-hide="$root.hideTabs">
  <ion-tab title="Menú" icon="icon ion-home" href="#/tab/menu">
    <ion-nav-view name="index-tab"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Mi cuenta" icon="icon ion-person" href="#/tab/cuenta">
    <ion-nav-view name="cuenta-tab"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Buscar" icon="icon ion-search" href="#/tab/buscar">
    <ion-nav-view name="buscar-tab"></ion-nav-view>
  </ion-tab>
  
</ion-tabs>
