<ion-view title="{{menu.titulo}}">
  <ion-content padding="true">
       	<ion-list>
    		<ion-item ng-repeat="vuelo in menu.vuelos" type="item-text-wrap" class="item item-thumbnail-left">
        
          <img src="{{vuelo.imagen}}">
          <h2>{{vuelo.destino}}</h2>
          <p ng-show="{{vuelo.asientos}}">Asientos disponibles: {{vuelo.asientos}}</p>
          <p ng-show="{{vuelo.precio}}">Precio: {{vuelo.precio}}</p>
          <p ng-show="{{vuelo.fecha}}">Fecha: {{vuelo.fecha}}</p>
        
    			
          <button class="button button-positive">Comprar</button>
    		</ion-item>
    	</ion-list>
  </ion-content>
</ion-view>