/* Your app's CSS, go crazy, make it your own */
<<<<<<< HEAD
html,
body {
   margin:0;
   padding:0;
   height:100%;
}
#container {
   min-height:100%;
   position:relative;
}
#header {
   /*background:#ff0;*/
   padding:10px;
}
#body {
   padding:10px;
   padding-bottom:60px;   /* Height of the footer */
}
#footer {
   position:absolute;
   bottom:0;
   width:100%;
   /*height:60px;    Height of the footer */
   /*background:#6cf;*/
}
.fijo{
  position: absolute!important;
}
=======

>>>>>>> parent of 1941cd1...  Changes to be committed:
.ionic-logo {
  display: block;
  margin: 15px auto;
  width: 96px;
  height: 96px;
}
.button-destinos {
  height: 10%;
}

#departure {
	display: inline;
	width: 100%!important;
}

.popup {
	width: auto;
}

.datepicker {
	width: auto;
}

.button-front{
  width: 45%!important;
  /*float: center;*/
  position: relative;
  font-size: 8px!important;
  top: 50%;
  left: 50%;
  height: 120px;
  margin-bottom: 6px;
  /*border-right: 5px;
  border-top: 5px;*/
   /*bring your own prefixes */
  transform: translate(-100%, 150%);

}

.button-div{
  position: relative;
  top: 0%;
  left: 0%;
  /*margin-left: 2px;
  margin-right: 2px;*/
  width: auto;
  font-size: 15px!important;
  height: 9px!important;
}

.popup-body .datetimepicker {
  min-height: 221px;
}
.popup-body .datetimepicker table {
  width: 100%;
}
/*
 * Use ionic icons instead of bootstrap's glyphicons 
 * for arrows in the datetimepicker.
 */
.glyphicon {
  vertical-align: top;
  display: inline-block;
  font-family: "Ionicons";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  text-rendering: auto;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.glyphicon:before {
  vertical-align: top;
  font-size: 32px;
  line-height: 32px;
  padding-right: 2px;
  padding-left: 2px;
  display: inline-block;
  padding: 0 0 1px 0;
}
.glyphicon-arrow-right:before {
  content: "\f10a";
}
.glyphicon-arrow-left:before{
  content: "\f107";
}